*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 

font-family: 'Italiana', serif;


*/

/* comun */
.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    justify-content:space-evenly;
    width: 100%;
    font-family: 'Italiana', serif;
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    text-align: center;
}

.logo {
    align-items: center;
    height: 25px;
    width: 25px;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-menu li {
    margin-right: 1rem;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}

  /* responsive */
@media (max-width: 600px) {
    .menu-icon {
    display: block;
    }

.nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 1;
}

.nav-menu.active {
    display: flex;
}

.nav-menu li {
    margin: 0;
    text-align: center;
}
}

.titulo h1{
    background-color: black;
    width: 100%;
    font-family: 'Italiana', serif;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    text-align: center;
    float: left;
    padding: 60px;
    color:white
}

.cuerpo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Italiana', serif;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    color: #fff;
}

.cuerpo p{
    width: 100%;
    background-color: black;
    font-family: 'Italiana', serif;
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    padding: 20px;
    color:white
}

.cuerpo h2{
    background-color: black;
    font-family: 'Italiana', serif;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    text-align: center;
    padding: 30px;
    color:white
}

.cuerpo img{
    width: 100%;
}

.fondo{
    background-color: black;
}

.container{
    width: 100%;
}

.item1 img{
position: absolute;
width: 100%;
}

.item2 img{
    position: relative;
    width: 30%;
    height: 60%;
    top: 50px;
    left: 60px;
}

/* grid */

.grid{
    display: grid;
    grid-template-columns: 1fr repeat(12,minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 10px;
}

.tarjeta{
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12,minmax(auto, 60px));
    grid-gap: 40px;
}

.texto-tarjeta{
    padding: 20px;
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.imgSabores{
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.imgSabores img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titulo-tarjeta{
    margin-bottom: 20px;
    background-color: black;
    font-family: 'Italiana', serif;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    text-align: center;
    padding: 30px;
    color:white
}

.info-tarjeta{
    display: flex;
    align-self: end;
    align-items: center;
    width: 100%;
    background-color: black;
    font-family: 'Italiana', serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    padding: 20px;
    color:white
}

@media only screen and (max-width: 1000px) {
    .tarjeta {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 700px) {
    .grid{
        grid-gap: 20px;
    }
    .tarjeta{
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px) {
    .grid{
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }

    .tarjeta{
        grid-column-end: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
}

.lista li{
    background-color: black;
    display: block;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 30px;
}

.lista a{
    font-family: 'Italiana', serif;
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
    text-orientation: sideways;
    color:white
}

/* footer */

.social-footer {
    padding: 1rem;
    background: #000000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.social-footer-left {
display: flex;
font-family: 'Italiana', serif;
font-size: 16px;
color: #fff;
}

.social-footer img{
    height: 25px;
    width: 25px;
}

.social-footer-icons ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 25px;
    font-family: 'Italiana', serif;
    font-size: 16px;
    color: #fff;
}

.social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
}


